                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
.navbar {
  width: 38vw;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px;

 box-shadow: 0 0 30px #810100;
 
}

.headings {
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 67px;
  padding-left: 30px;
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #EDEBDD;
}

.headings a:hover {
  color: red;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  width: 100%;
  height: 40vh;
}

.home-text {
  max-width: 600px;
}

.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  box-shadow: 0 0 40px rgba(255, 0, 0, 0.4);
}

.name {
  font-size: 55px;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 20px;
}

.description {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: justify
  
}

.b1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #EDEBDD;
  background-color: black;
  letter-spacing: 4px;
  padding: 15px 30px;
  font-size: 22px;
  border-radius: 17px;
  transition: 0.2s;
  width: 250px;
  margin-top: 35px;
  font-weight: bold;

  box-shadow: 0 0 25px #810100;

}

.b1:hover {
  color: black;
  background: #630000;
  box-shadow: 0 0 10px #810100, 0 0 40px #810100, 0 0 80px #810100;
}

.container {
  position: relative;
  background-color: black;
  border-radius: 15px;
  padding: 60px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min(1100px, 100%);
  align-items: center;
  text-align: justify;
}

.about img {
  width: 150px;
}

.about p {
  font-size: 18px;
  line-height: 1.8;
  color: #EDEBDD;
}

.aboutme {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: #810100;
  text-transform: uppercase;
  letter-spacing: 1.75px;
  font-weight: bold;
}

.frontend {
  display: flex;
  width: 80px;
}

h3 {
  color: #EDEBDD;
  font-size: 30px;
  margin-bottom: 15px;
}

.backend {
  width: 80px;
}

h4 {
  color: #EDEBDD;
  font-size: 30px;
}

.ux {
  width: 80px;
}

h5 {
  color: #EDEBDD;
  font-size: 30px;
}

